.Dashbord {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: white;
}

.time { 
    font-size: 50px;
    font-weight: bold;
    color: #FF3333;
    display: flex;
    justify-content: center;
    font-family: JetBrainsMono;
}

.title {
    font-family: 'Inter';
    font-size: 28px;
    color: black;
    background-color: #FFAE18;
}

.image {
    width: 100px;
    height: 100px;
}

.moktail, .recette, .citation, .évènement, .joke {
    background-color: #FFF7C3;
}


.cliquable {
    color: blue;
    display: flex;
}
 .SousTitre {
    font-family: 'Inter';
    font-size: 25px;
}

.MarkdownContainer {
    background-color: #FFF7C3 ;
    padding-bottom: 500px;
}

.joke {
    margin-top: 50px;
    padding-bottom: 50px;
}
 .évènement {
    margin-top: 50px;
    padding-bottom: 50px;
 }
 .citation {
    margin-top: 50px;
    padding-bottom: 50px;
 }
 .recette {
    margin-top: 50px;
    padding-bottom: 50px;
 }
 .moktail {
    margin-top: 50px;
    padding-bottom: 50px;
 }

.container {
    display: flex;
    justify-content: space-between;
}

.fichier {
    display: flex;
}

.NameFichier, .DateFichier {
    padding-right: 10px;
}
.edit{
    padding-right: 20px;
}
.img {
    display: flex;
    justify-content: center;
  
    ;

}