* {
    font-family: 'Inter', sans-serif;
}

.list-container {
    background-color: #FFF6cc;
    padding: 20px;
    border-radius: 10px;
    max-width: 550px;
}

.header-list {
    background-color: #ffa500;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.file-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    display: flex;
}

.file-list {
    list-style-type: none;
    padding: 0;
}

.file-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.file-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.newFileButtonLabel, .uploadButtonLabel {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid black;
    background-color: #C8C8C8;
    color: black;
    box-shadow: 3px 3px 2px #9d9d9d;
    cursor: pointer;
}



button {
    margin: 5px;
    border: 1px solid black;
    background-color: #C8C8C8;
    color: black;
    box-shadow: 3px 2px 2px #9d9d9d;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover, .newFileButtonLabel:hover, .uploadButtonLabel:hover {
    background-color: #9d9d9d;
    color: white;
}

.file-date {
    margin-left: 10px;
    font-size: 0.9em;
    color: #888;
}
